extends layout

block content
    link(rel='stylesheet', href='/stylesheets/home.css')
   
    section#home
        .container
            #hero
                img(src="/images/home-hero.jpg", alt="bla")

                #primary-callout
                    p Spark* works alongside local changemakers as they bring people in their communities out of extreme poverty
                    
                    ul
                        li
                            a#fund-a-changemaker(href="#") 
                                span Fund a 
                                | changemaker

                        li
                            a#play-video(href="#")        
                                | Play video

            #secondary-callout
                .container
                    p.important
                        | In the next decade, Spark*        

                    p
                        | We think the

                    ol

                        li#enable
                            b See how
                            span Spark*
                            b enable changemakers


                        li#find
                            b Find a
                            span local changemaker

                        li#you
                            b See how
                            span you
                            b can support

                        li#out-of-poverty
                            b 1 million out
                            i of extreme
                            u poverty


    //- a(href="/auth/facebook") Login with facebook
    div
        each val, key in categories
            span(style="font-weight:bold")= key
            span(style="margin-left: 4px;") #{val} Projects
            br
