include mixins/panels

doctype 5
html
  head
    title Spark*
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="container")
        header
            h1(class="spark-title") 
                i Spark
                b *
        block panels
        block content
        footer 
            section(id="partners")
                h3 Partners
                ul
                    li
                        img(src="/images/partners.png", alt="Partners")

            section(id="social")
                ul
                    li(id="social-youtube")
                        a(href="http://youtube.com") YouTube
                    li(id="social-twitter")
                        a(href="http://twitter.com") Twitter
                    li(id="social-linkedin")
                        a(href="http://linkedin.com") LinkedIn

                div(id="facebook-widget")


            section(id="touch-comment")
                ul
                    li 
                        a(href="/contact") Get in touch with us
                    li 
                        a(href="/newsletter") Receive Spark* news


                blockquote
                    p There are loads...
                    cite Paul Collier, <br> professor of Economics Oxford University             

            section(id="subtle-panels")
                mixin panels(false, true)
    block scripts
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
