extends layout

include mixins/projectProgress
include mixins/helperBadge
include mixins/donationForm

block panels
    mixin panels(true)

block content
    div= projectCount + ' ' + changemakerCount
    .columns
        .column.single-column
            h4.field-title
                span.action-word Found
                |  in
            .location= project.location
            img(src="")
            a.field-more(href="/change-maker/country/#{project.locationSlug}")
                | More projects from this location
        .column.single-column.selected-column
            a.back(href="/change-maker/") Back to search
            .changemaker-badge
                img.avatar(src="")
                .name= project.changemaker.first_name + ' ' + project.changemaker.last_name
                - if (project.grant_info)
                    mixin projectProgress(project.grant_info)
            a(href="#where-does-my-funding-go") Where does my funding go?
        .column.double-column
            ol.project-stats
                - if (project.funders.length)
                    li.contributors
                        a(href="#funders")
                            .badge= project.funders.length
                            | Funders
                - if (project.helpers.length)
                    li.helpers
                        a(href="#helpers")
                            .badge= project.helpers.length
                            | Helpers
                - if (project.updates.length)
                    li.updates
                        a(href="#updates")
                            .badge= project.updates.length
                            | Updates
            h2.project-name= project.name
            .category-statement
                | Has impact in 
                a.category-tag(href="/change-maker/category/#{project.categorySlug}")= project.category
            
            #project-actions
                a.follow(href=) Follow LINK NEEDED 
                .contribute
                    mixin donationAmountSelector(25)
                    mixin fundButton("button", "$25")
                    button.help-button
                        | Help
                        .help-button-detail this changemaker
                .video-holder VIDEO GOES HERE
                .sharing SHARING GOES HERE
            mixin donationForm(braintreeEncryptionKey, project, true, 25)
    .columns
        .column.single-column
            h4.field-title
                span.action-word Accelerated
                |  in
            .founding-date= new Date(project.created_date).toDateString()
            // .field-detail 1 of NUM_PROJECTS_IN_ACCELERATOR selected from NUM_APPLICANTS applicants
            a.field-more(href=) What does accelerated mean? NEEDS LINK
        .column.single-column.selected-column
            h4.field-title= project.changemaker.first_name + "'s story"
            .changemaker-story= project.changemaker.story
        .column.double-column
            .tabs
                ul.tab-menu(role="tablist")
                    li.tab.selected#mission(role="tab")= project.changemaker.first_name + "'s mission"
                    li.tab#problem(role="tab") The Problem
                    li.tab#solution(role="tab") The Solution
                .tab-content
                    .tab-pane(role="tabpanel", aria-labelledby="mission", aria-hidden="false")= project.mission
                    .tab-pane(role="tabpanel", aria-labelledby="problem", aria-hidden="true")= project.problem
                    .tab-pane(role="tabpanel", aria-labelledby="solution", aria-hidden="true")= project.solution
    .columns
        .column.single-column
            h4.field-title
                span.action-word Supported
                |  with
            .field-detail
                | Ongoing training, strategic questions and inspiration through our network.
            a.field-more(href="") How does Spark* support them? NEEDS LINK    
        .column.single-column.selected-column
        .column.double-column
            h4.field-title.badge.update-count= project.updates.length
            h4#updates Updates
            each update in project.updates
                .project-update
                    .update-date= new Date(update.created_date).toDateString()
                    h5.update-title= update.title
                    - if (update.body.length > 250)
                        - var updateBodyExcerptEnd = update.body.lastIndexOf(' ', 250);
                        - updateBodyExcerptEnd = ~updateBodyExcerptEnd ? 250 : updateBodyExcerptEnd;
                        div= update.body.substring(0, updateBodyExcerptEnd) + "..."
                        a(href="#") More
                        div.update-extended= update.body.substring(updateBodyExcerptEnd)
    .columns
        .column.single-column
            h4.field-title
                | Ready for 
                span.action-word FUNDING
        .column.single-column.selected-column
        .column.double-column
            h4#where-does-my-funding-go Where does my funding go?
    .columns
        .column.single-column
            h5 Spark Fund
            div blah blah blah
        .column.single-column.selected-column
            h5 Changemakers Fund
            div blah blah blah
        .column.single-column
            h5 You Fund 100%
            div blah blah blah
        .column.single-column
            h5 People out of Poverty
            div blah blah blah
    - if (project.funders.length)
        .columns
            .column.single-column
            .column.single-column.selected-column
            .column.double-column
                h4#funders Funders
                h5.badge.funder-count= project.funders.length
                each funder in project.funders
                    mixin helperBadge(funder)
    - if (project.helpers.length)
        .columns
            .column.single-column
            .column.single-column.selected-column
            .column.double-column
                h4#helpers Helpers
                h5.badge.helper-count= project.helpers.length
                each helper in project.helpers
                    mixin helperBadge(helper)

append scripts
    script(src="/scripts/projects.js")
    script(src="/scripts/urls.js")
