extends layout

include mixins/radioField
include mixins/sparkLogo
include mixins/cta
include mixins/selectField
include mixins/pager
include mixins/projectSearchEntry

block panels
    mixin panels(true)

block content
    .columns.spark-infographic-container
        .column.single-column.selected-column
            p
                | &nbsp;
        .column.triple-column
            h1 
                span.small
                    mixin sparkLogo
                    | &nbsp;
                    | believes in 
                | Local solutions to local problems
            .spark-infographic
                .infographic-intro
                    h2 There are 1.3 billion people living in extreme poverty
                    p We think that there are loads of incedible leaders in the poorest 
                        | countries on earth
                    p We also think that they have the best answers to bring people in 
                        | their communities out of poverty
                .infographic
                    ul.infographic-text
                        li.local-knowledge
                            | We have 
                            strong local knowledge 
                            | . We know the people, the 
                            | problems and the challenges intimately.
                        li.community
                            | We are trusted because we are part of the 
                            strong community. 
                            | We live here.
                        li.local-experience
                            | We have 
                            strong local experience
                            | . We know what has been 
                            | tried, what has failed, and what is possible.
                        li.sustainability
                            | We are in it
                            strong for the long run.
                            | We want change more than 
                            | an outsider ever could.
                blockquote
                    "There are loads of intelligent, passionate people in the 
                    | countries where extreme poverty exists. Our job is the 
                    | more modest one, to get behind them."
                    em Paul Collier, Professor of Economics, Oxford University
    .columns
        .column.single-column.selected-column
            .spark-page-nav
                h3
                    mixin sparkLogo
                    | &nbsp;
                    | exists to
                ul.spark-page-nav
                    li
                        a(href="#spark-find") Find
                    li
                        a(href="#spark-accelerate") Accelerate
                    li
                        a(href="#spark-support") Support
                    li
                        a(href="#spark-fund") Fund

        .column.single-column
        .column.single-column
            mixin cta
            p to partner with
        .column.single-column




append scripts
    script(src="/scripts/urls.js")
