@import variables

#home
	height 700px

	
	& > .container

		position absolute
		left 0
		right 0
		overflow hidden

	#hero:before,
	#secondary-callout:before
			content ""
			position absolute
			left 50%
			z-index 100
			margin-left 10px
			border-width 25px
			border-style solid

	#hero
		position relative
		background #000
		text-align center

		img
			margin-left -100px

		&:before
			top 0
			border-color #EFEADD transparent transparent transparent

	#primary-callout
		width 470px
		position absolute
		top 0
		left 50%
		bottom 0
		margin-left -470px
		background rgba(0, 0, 0, 0.6)
		font-family sparkFontBold
		padding 30px 40px 100px 40px
		font-size 50px
		text-align left
		vendor "box-sizing" border-box


		p, a
			color #fff

		a
			text-decoration none

		ul 
			position absolute
			left 30px
			right 30px
			bottom 30px
			padding-right 30px

			li


				&:first-child
					float left

				&:last-child
					float right

		#fund-a-changemaker
			float left
			font-size 20px
			text-transform uppercase
			padding 10px 30px
			border-radius 10px
			letter-spacing 1px
			background -webkit-linear-gradient(top, #af3274 0%,#ce4795 1%,#ce4795 4%,#c73b8a 5%,#ce4795 6%,#ce4795 8%,#c73b8a 8%,#c73b8a 21%,#bd3786 22%,#bd3786 34%,#af3274 35%,#bd3786 36%,#bd3786 37%,#af3274 38%,#bd3786 39%,#bd3786 43%,#af3274 44%,#bd3786 45%,#bd3786 50%,#af3274 51%,#af3274 53%,#bd3786 54%,#af3274 55%,#af3274 57%,#bd3786 58%,#af3274 58%,#af3274 100%);

			span
				display block
				font-size 50px
				letter-spacing 0

		#play-video
			float right
			font-size 35px
			padding 22px 0

			&:after
				content "▶"
				font-size 80%
				margin-left 10px

	#secondary-callout

		background -webkit-linear-gradient(top, rgba(0,0,0,0.52) 0%,rgba(0,0,0,0.31) 100%)

		&:before
			bottom 0
			border-color transparent transparent #EFEADD transparent

		& > .container
			height 200px
			width 900px
			margin 0 auto
			padding 30px 0

			.important
				font-weight bold
				font-family sparkFontBold
				font-size 30px
				margin-bottom 20px

		ol
			color #fff
			text-align center
			margin-top -50px

			li
				display inline-block
				width 150px
				margin-left 20px


				&:first-child
					margin-left 0

				span
					display block
					font-size 40px
					text-transform uppercase

				b
					text-decoration underline


			span, #out-of-poverty
				font-family sparkFontBold

			#enable

				span
					text-transform none

			#out-of-poverty
				width 280px
				font-size 60px
				line-height 45px
				color green
				text-transform uppercase

				b, i, u
					display block
					text-decoration none
					font-style normal

				i
					font-size 73px
					padding-top 8px

				u 
					font-size 100px
					padding-top 20px

	

