@import 'nib'
@import variables

global-reset()

@font-face {
    font-family: 'garagegothic-blackregular';
    src: url('/fonts/garagegothic-black-webfont.eot');
    src: url('/fonts/garagegothic-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/garagegothic-black-webfont.woff') format('woff'),
         url('/fonts/garagegothic-black-webfont.ttf') format('truetype'),
         url('/fonts/garagegothic-black-webfont.svg#garagegothic-blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'garagegothic-boldregular';
    src: url('/fonts/garagegothic-bold-webfont.eot');
    src: url('/fonts/garagegothic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/garagegothic-bold-webfont.woff') format('woff'),
         url('/fonts/garagegothic-bold-webfont.ttf') format('truetype'),
         url('/fonts/garagegothic-bold-webfont.svg#garagegothic-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

[aria-hidden="true"]
    display none

body
	background url(/images/background.png) #fef repeat

	&:before
		height 200px
		position absolute
		top 0
		left 0
		right 0
		z-index -1
		content ""
		background -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%)



#container
	width 980px
	margin 0 auto
	background transparent
	font-family bodyFont

h1,
h2
h3,
h4
	font-family: sparkFontBold

.spark-title
    color black
	b
		color blue

.spark-logo
    color black
    font-family sparkFontBold
    b
        color blue

h1
	height 180px

	i
		display block
		text-indent -9999px
	b 
		font-size 300px

.panels 
	
	text-align center
	margin-bottom 50px

	li
		display inline-block
		width panelWidth

		h3, strong
			&:after 
				position absolute
				top 50%
				right 0				

		h3
			display table-cell
			width panelWidth
			height 160px
			position relative
			font-weight bold
			margin-bottom baseSpacing
			padding 0 35px
			vendor box-sizing, border-box
			vertical-align middle
			text-transform uppercase

			&:after 
				font-size 180px
				line-height 100%
				color subtle
				margin -100px -20px 0 0
			
		h4
			width 80%
			margin 0 auto
			text-transform uppercase
			font-size 24px
			margin-bottom baseSpacing

		strong
			display table-cell
			width panelWidth
			height 216px
			position relative
			vertical-align middle
			font-family sparkFontBold
			color #fff
			font-size 30px
			padding: 0 40px
			text-transform uppercase

			span
				position relative
				z-index 100

			&:before
				content ""
				position absolute
				top 0
				left 0
				right 0 
				bottom 0
				opacity .3

			&:after 
				font-size 160px
				color #fff	
				margin -90px -19px 0 0
				z-index 100				

		p
			height 50px
			padding 10px
			font-size 14px
			line-height 16px
			text-align left

	.header-panel-our-training-and-support

		strong 
			background-image url(/images/carousel-spark.jpg)
		
		h3, strong
			&:after
				content "+"	

		h3
			text-transform none
			font-size 60px

		strong:before, p
			background blue


	.header-panel-local-passion-and-knowledge
		strong
			background url(/images/carousel-changemaker.jpg)			
		
		h3, strong
			&:after
				content "+"	

		h3
			color yellow
			font-size 50px
			line-height 40px		

		strong:before, p
			background yellow


	.header-panel-your-support
		strong
			background url(/images/carousel-you.jpg)

		h3, strong
			&:after
				content "="	

		h3
			color pink
			font-size 75px

		strong:before, p
			background pink

	.header-panel-people-out-of-poverty

		strong
			background url(/images/carousel-1mill.jpg)

		h3, strong
			&:after
				display none
		

		h3
			color green
			font-size 42px
			line-height 38px
			text-align justify

			b, i 
				display block

			b
				font-size 52px

			i 
				font-size 73px
				margin-top 12px
				font-style normal

		strong:before, p
			background green

.project-panels
    z-index 55

    &.panels
        margin-bottom 0

    li
        position relative
        z-index -2
        vertical-align top

        &:before
            content ""
            width panelWidth
            height panelWidth
            position absolute
            left 0

    .header-panel-local-passion-and-knowledge
        z-index 55

        &:before
            background white
            opacity 0.5
            z-index -1

        &:after
            borderWidth=40px
            border-left borderWidth solid transparent
            border-right borderWidth solid transparent
            border-top borderWidth solid white
            width 0
            height 0
            position absolute
            content ""
            opacity 0.7
            bottom -(borderWidth+1)
            left (panelWidth/2) - borderWidth

        h3:after
            z-index -5

footer
	margin 20px 0
	color subtler

#partners

	overflow hidden
	
	h3
		float left
		text-transform uppercase
		color lighten(pink, 50%)
		font-size 22px

	ul
		float left
		// Temporary for placeholders
		margin-top -10px

#social
	ul
		li
			display inline-block
			width 35px
			height 35px
			margin-right 5px

			a
				display block
				width 100%
				height 100%
				text-indent -9999px

		#social-youtube
			background url(/images/social_icon-youtube.png)

		#social-twitter
			background url(/images/social_icon-twitter.png)

		#social-linkedin
			background url(/images/social_icon-linkedin.png)



#touch-comment

	overflow hidden

	ul
		float left
		margin-top 10px

		li
			width 200px
			border-radius 1px
			margin-top 5px
			background: -webkit-linear-gradient(top, #f7efde 0%,#f7efde 25%,#efe7ce 29%,#efe7ce 33%,#f7efde 38%,#f0eade 42%,#f0eade 46%,#efe7ce 50%,#efe7ce 75%,#e7ded3 79%,#efe7ce 83%,#efe7ce 88%,#e7ded3 92%,#e7ded3 100%)
			box-shadow 1px 1px 3px rgba(0, 0, 0, 0.4)

			a
				display block
				width 100%
				height 100%
				text-transform uppercase
				text-align center
				color subtler
				text-decoration none
				font-size 14px
				padding 5px 10px
				vendor box-sizing border-box

				&:hover
					font-weight bold


	blockquote
		float right
		font-size 26px
		font-family sparkFontBold
		letter-spacing 1px

		cite
			display block
			position relative
			padding 20px 0 0 40px
			text-transform uppercase

			&:before
				content "*"
				position absolute
				left 0px
				font-size 80px
				font-family sparkFontBold
				color blue

#subtle-panels 

	border-top 1px solid subtle
	padding-top 30px
	margin-top 30px

	h3,
	h3 b,
	h4,
	a
		color subtler

	li
		vertical-align top

	ul

		li
			margin-bottom 5px

		&,
		h4
			font-size 12px

		h4
			width auto
			font-family inherit	
			font-weight bold
			margin 10px 0

		a
			text-decoration none



.columns {
    width: 4 * panelWidth;
    margin: auto;
}

.column
    display table-cell
    position relative
    padding baseSpacing
    vendor(box-sizing, border-box)

    &.single-column
        width panelWidth

    &.double-column
        width 2 * panelWidth
        padding 0

    &.triple-column
        width 3 * panelWidth;

left-shifted(oldColumnWidth = 1, newColumnWidth = 1)
    position absolute
    right (panelWidth * oldColumnWidth) + baseSpacing
    width (panelWidth * newColumnWidth)
    text-align right

.update-count,
.funder-count,
.helper-count {
    left-shifted(2);
}

.project-update {
    position: relative;

    .update-date {
        left-shifted(2);
        right (panelWidth * 2) // the project-update already is padded
    }
}

.project-search
    color brown
    font-size 90%
    position relative
    z-index 50

    a
        color blue

    h4
        font-size 30px
        margin-bottom 15px

    p
        margin-bottom 15px
        line-height 1.3

    fieldset
        margin-top baseSpacing
        padding baseSpacing

        legend
            display block
            font-weight bold
            font-family sparkFont
            font-size 20px
            color brown


        input
            visibility hidden
            position absolute

            + label
                padding baseSpacing
                display block
                background linear-gradient(top, lightBrown, darkBrown)
                color white
                border-bottom 1px solid lowlightBrown
                border-top 1px solid highlightBrown
                cursor pointer

                &:after
                        content url(/images/arrow-right-white.png)
                        float right

                &:hover
                    background linear-gradient(top, white, lightBrown)
                    color brown

                    &:after
                        content url(/images/arrow-right-brown-24.png)
                        float right



            &.checked + label
                background linear-gradient(top, white, lightBrown)
                color brown

                &:after
                    content url(/images/arrow-right-brown-24.png)


    &:before
        content ""
        background subtler
        width panelWidth
        position absolute
        z-index -1
        opacity 0.15
        top 1px
        left panelWidth
        height 100%
        min-height minColumnHeight

    .project-entry
        width internalPanelWidth
        height 400px
        vendor(box-sizing, border-box)
        display inline-block
        margin baseSpacing
        color black
        text-decoration none

        img
            width internalPanelWidth
            height 100px
            margin 0
            padding 0

        h4
            background brightYellow
            padding baseSpacing
            font-family bodyFont
            margin-bottom 0
            font-size 130%
            line-height 1.4

            div
                color black
                font-size 70%

            .change-maker
                font-weight bold

        .category
            position absolute
            margin-top -20px
            margin-left -5px
            padding baseSpacing
            width (112 - baseSpacing)
            font-size 80%
            color white
            background url(/images/tag-background.png) no-repeat center

        .mission
            position relative
            padding 20px baseSpacing 0
            font-size 90%
            margin-top -2px

            &:before
                position absolute
                background-color subtle
                content ""
                width 100%
                height 100%
                z-index -1
                opacity 0.3
                top 0
                left 0

        .location
            font-weight bold
            font-size 90%
            padding baseSpacing 17px
            background url(/images/icon-location.png) center left no-repeat

        .grant-info
            position relative
            padding baseSpacing

            .progress-bar
                position relative
                height baseSpacing
                width 100%
                margin 0
                height 10px
                background-color gray
                overflow hidden

                li
                    background-color pink
                    height 10px



            &:before
                position absolute
                background-color subtle
                opacity 0.7
                width 100%
                height 100%
                content ""
                top 0
                left 0
                z-index -1

            .progress-statement
                padding baseSpacing 0
                color black
                margin-left -(baseSpacing/2)
                font-size 80%

                .amount
                    font-family sparkFont
                    font-size 200%
                    padding 0 (baseSpacing / 2)

        &:hover
            .mission
                &:before
                    background brightYellow
                    opacity 2.0

            .grant-info
                &:before
                    background yellow
                    opacity 1.0

.change-makers
    position relative
    width 95%
    margin auto
    margin-top 50px
    padding-bottom baseSpacing

    h3
        background lightBrown
        color white
        font-size 30px
        padding 5px

    &:before
        position absolute
        content ""
        background subtler
        opacity 0.2
        height 100%
        width 100%
        z-index -2

.find-change-maker
    padding baseSpacing
    font-family sparkFont

    h3
        font-size 250%
        color black
        text-transform uppercase

    label
        font-size 150%

[role="tablist"] > [role="tab"]
    display inline-block
    min-width 100px
    padding (baseSpacing/2) baseSpacing
    &.selected
        background-color yellow

.project-pager
    padding 0 baseSpacing
    background subtle
    background-clip content-box
    text-align center

    .pager

        text-transform uppercase
        display inline-block

        li
            color black
            border-left 1px solid white

            &:hover
                background-color yellow
                cursor pointer

        a
            &:last-child
                li
                    border-right 1px solid white
.pager
    li
        display inline-block
        min-width 20px
        height 20px
        text-align center
        font-size 10px
        line-height 20px

        &.current-page
            background-color: yellow;

        a
            text-decoration: none;
