include donationAmountSelector
include fundButton

mixin donationForm(encryptionKey, project, hidden, selectedAmount)
    form#donation-form(action="/donate", method="POST", aria-hidden= hidden ? "true" : "false")
        a.cancel(href="#") cancel
        mixin donationAmountSelector(selectedAmount)

        fieldset
            legend.field-title from
        
            label(for="donation_first_name") Name
            input(type="text", name="first_name", id="donation_first_name", placeholder="First name")
            input(type="text", name="last_name", id="donation_last_name", placeholder="Last name")

        fieldset
            legend.field-title using the following credit card
            label(for="donation_number") Card number
            input(type="text", id="donation_number", autocomplete="off", size="20", data-encrypted-name="number")

            label(for="donation_expiry_month") Expiry
            input(type="text", id="donation_expiry_month", size="2", data-encrypted-name="month")
            input(type="text", id="donation_expiry_year", size="4", data-encrypted-name="month")

            label(for="donation_cvv") CVV
            input(type="text", id="donation_cvv", autocomplete="off", size="4", data-encrypted-name="cvv")

        fieldset
            legend.field-title with billing address of

            label(for="donation_address1") Address
            input(type="text", name="address1", id="donation_address1")
            input(type="text", name="address2", id="donation_address2")

            label(for="donation_city") City
            input(type="text", name="city", id="donation_city")

            label(for="donation_country") Country
            input(type="text", name="country", id="donation_country")

            label(for="donation_state") State
            input(type="text", name="state", id="donation_state")

            label(for="donation_postcode") Postcode
            input(type="text", name="postcode", id="donation_postcode")

        fieldset
            legend.field-title Make my donation

            input(type="radio", name="anonymity", value="anonymous", id="donation_anonymity_anonymous")
            label(for="donation_anonymity_anonymous") anonymous

            input(type="radio", name="anonymity", value="public", id="donation_anonymity_public", checked)
            label(for="donation_anonymity_public") public


        fieldset
            legend.field-title and keep me posted with

            input(type="checkbox", name="changemaker_updates", id="donation_updates_changemaker")
            label(for="donation_updates_changemaker")= "updates from " + project.changemaker.first_name

            input(type="checkbox", name="spark_updates", id="donation_updates_spark")
            label(for="donation_updates_spark") updates from Spark*

        mixin fundButton("submit", project.changemaker.first_name)
        a.cancel(href="#") cancel

    script(src="https://js.braintreegateway.com/v1/braintree.js")
    script= "var brainTreeEncryptionKey = '" + encryptionKey + "';"
    script
      var braintree = Braintree.create(brainTreeEncryptionKey);
      braintree.onSubmitEncryptForm('donation-form');
