mixin helperBadge(helper)
    img.avatar(src=helper.avatar_url)
    .details
        .name= helper.name
        .location- helper.location
    - if (helper.amount_usd)
        .amount= "$" + helper.amount_usd
