mixin pagerItem(page, isCurrent, pagingUrl, text)
    a(href=pagingUrl + page)
        li(class= isCurrent && 'current-page')
            - if (text)
                = text
            - else
                = page

mixin pager(thisPage, totalPages, pagingUrl)
    - function range(m, n) { var ret = []; while (n > m) ret.unshift(n--); return ret; }
    span(class="pager")
        ul
            - if (thisPage > 1)
                mixin pagerItem(thisPage-1, false, pagingUrl, "<")
            - if (totalPages <= 10)
                each page in range(0, totalPages)
                    mixin pagerItem(page, thisPage == page, pagingUrl)
            - else
                - var middleMin = Math.max(thisPage - 3, 5);
                - var middleMax = Math.min(thisPage + 2, totalPages - 5);
                each page in range(0, 5)
                    mixin pagerItem(page, thisPage == page, pagingUrl)

                - if (5 < middleMin)
                    li &hellip;

                - if (thisPage > 3 && thisPage < totalPages - 2)
                    each page in range(middleMin, middleMax)
                        mixin pagerItem(page, thisPage == page, pagingUrl)

                - if (totalPages - 5 > middleMax)
                    li &hellip;

                each page in range(totalPages - 5, totalPages)
                    mixin pagerItem(page, thisPage == page, pagingUrl)
                - if (thisPage < totalPages)
                    mixin pagerItem(thisPage+1, false, pagingUrl, ">")
