mixin panels(showDetail, showSubItems)
    ol(class="panels")
        mixin headerPanel(showDetail, showSubItems)
        mixin localPassion(showDetail, showSubItems)
        mixin yourSupport(showDetail, showSubItems)
        mixin outOfPoverty(showDetail, showSubItems)

mixin headerPanel(showDetail, showSubItems)
    li(class="header-panel-our-training-and-support")
        h3(class="spark-title") Spark
            b *
        if showDetail
            h4 Enable changemakers in 3 countries
            unless showSubItems
                strong
                    span Our training and support
                p We use every means possible to find as many change makers as we
            if showSubItems
                ul
                    li
                        h4 Spark Support
                        ul
                            li
                                a(href="") Local solutions to local problems
                    li
                        h4 About Spark*
                        ul
                            li
                                a(href="") Find
                            li
                                a(href="") Train
                            li
                                a(href="") Connect/Support
                            li
                                a(href="") Fund

mixin localPassion(showDetail, showSubItems)
    li(class="header-panel-local-passion-and-knowledge")
        h3 Local change makers
        unless showDetail
            h4 70 Changemakers
            h4 15 Active Projects
        if showDetail
            h4 Enable changemakers in 3 countries
            unless showSubItems
                strong
                    span Local passion and knowledge
                p We use every means possible to find as many change makers as we
            if showSubItems
                ul
                    li
                        h4 Project by country
                        ul
                            li
                                a(href="") Kenya
                            li
                                a(href="") Papua New Guinea
                            li
                                a(href="") South Africa
                    li
                        h4 Projects by area of impact
                        ul
                            li
                                a(href="") Education
                            li
                                a(href="") Employment
                            li
                                a(href="") Gender equality
                            li
                                a(href="") Health

mixin yourSupport(showDetail, showSubItems)
    li(class="header-panel-your-support")
        h3 You
        unless showDetail
            h4 Firstname Lastname
        if showDetail
            h4 Enable changemakers in 3 countries
            unless showSubItems
                strong
                    span Your support
                p We use every means possible to find as many change makers as we
            if showSubItems
                ul
                    li
                        a(href="") What is your role
                    li
                        a(href="") The Spark* Community

mixin outOfPoverty(showDetail, showSubItems)
    li(class="header-panel-people-out-of-poverty")
        h3 1 million out
            b of extreme
            i poverty
        if showDetail
            h4 Enable changemakers in 3 countries
            unless showSubItems
                strong
                    span People out of poverty
                p We use every means possible to find as many change makers as we
            if showSubItems
                ul
                    li
                        a(href="") Education
                    li
                        a(href="") Employment
                    li
                        a(href="") Gender equality
                    li
                        a(href="") Health