include projectProgress

mixin projectSearchEntry(project)
    a(href="#{project.url}")
        li.project-entry
            h4
                = project.name
                div by&nbsp;
                    span.change-maker #{project.changemaker.first_name} #{project.changemaker.last_name}
            img(src=project.searchImageUrl)
            .category= project.category
            .mission
                = project.mission
                .location= project.location
            - if (project.grant_info)
                .grant-info
                    mixin projectProgress(project.grant_info)
