mixin projectProgress(grant_info)
    ol(class="progress-bar")
        li(style="width:" + (grant_info.percent_attained) + "%")
    .progress-statement
        span.amount= grant_info.percent_attained + "%"
        |  of 
        span.amount= '$' + grant_info.amount_usd
        |  to launch
